.page.type-tags #page-header { background-image: url("/img/index2.jpeg") !important; }
.page.type-archive #page-header { background-image: url("/img/index7.jpeg") !important; }
.page.type-categories #page-header { background-image: url("/img/index8.jpeg") !important; }
.page.type-about #page-header { background-image: url("/img/index6.jpeg") !important; }
.page.type-link #page-header { background-image: url("/img/index1.jpeg") !important; }